<div class="col-11">
  <h2>Create a secure Filestore Group</h2>
  <form action="/createGroup" method="post" id="createGroupForm">
      
      <div class="form-group">
        <input type="text" class="form-control" name="groupName" value="" placeholder="Input a Group Name">
      </div>
      <button type="button" id="submit-new-group" class="btn btn-block btn-success">Create Group!</button>
  </form>
  <script type="text/javascript">
    $( document ).ready(function() {
      $( "#submit-new-group" ).click(function () {
        $( "#createGroupForm" ).submit();
      });
    });
  </script>
</div>
